API_ID=20978010
API_HASH=2d29a7675f8d2e0d4b63fe9af52c239b
BOT_TOKEN=7832977288:AAH151T-EdUd2RNp9UNpXyiF5DDr_pxNfZg
LOG_GROUP_ID=-1002501859678
MONGO_DB_URI=mongodb+srv://Arjunpal07:Arjunpal07@cluster0.pdvsztf.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=8037473436
STRING_SESSION=BQAf70YAdgT4H41JgcQEAB3Wx5O93ChGsStIwDs1aas082j97JBtuCfIvoRuEbqcyPQuoYuUCBF97jIk6NX1PUUdYSIZX3H40Oth8DqaZ06VADv_ny5Vbmp0jquPbk1msZOnNWfXRRrSSVhjER8mgZckpYr4hLT1VL8saLVl4-UBWstG_sTDZwPSFrdoRFWNhuw278GVa24qicaIYMI4rygkU3USLtypH-S-r0AHN_wUgrUpjyY4tCv2Sygd40-DUnJONJN6Ka9IL-GPFPW2tVxb_hFis6s73A9BvNGgqn1KC4HoHQTnSq51gn-WeAoJ4vWNygGDvtJTozY0wYE5DJpXkctkZwAAAAHfEhycAA
